<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>

	<p>
    Splurty was built by <a target="_blank" href="https://github.com/tmstutson">Tia</a> and other student at the UCF coding bootcamp. She is an up and coming web developer who is eager to learn and created this app to give her fellow classmates and other future coders inspiration.
  </p>
  <br />
  <p>
    This version of Splurty is modeled after the design of her class instructors, Ken and Marco.  Her vision for this app was simply to create an app envoronment where other coders can recieve positiviy and encouragement during the duration of this course.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
	<div class="col-12 col-sm-4">
		<%= image_tag 'Me copy.jpg' , class: 'img-fluid' %>
</div>

<div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Tia Stutson</h2>
      <br />
      <p>
        Tia is an student Web Developer at UCF Coding Bootcamp and by day is professional traveler serving as a flight attendant. She loves to travel and is inspired by the dreams of a remote life-style along with travel! She aspires to be encouraging always.
    </a> 
      </p>
    </div>
  </div>

</div>


<br class="clear" />
<br />
<br />
<br />
<br />


